<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application android:name=".ICRApplicationClass">
        <activity
            android:name=".ICRActivity"
            android:exported="false"
            android:label="@string/title_activity_icractivity"
            android:theme="@style/Theme.Icregistrationsdk" />
    </application>

</manifest>